.alignCenter{
	/*border:1px solid blue;*/
	width:85%;
	margin:0 auto;	
	padding:10px;
	text-align:center;
}

.hideLabel{
	color:#ecf0f1;
}

.hidden{
	display:none;
}

.missingValue{
	background-color:red;
}

.partTitle{
	background-color: #2c3e50;
	color:#fff;
	text-align:center;
}

.selectOption{
	margin:10px;
	/*padding-bottom:5px;
	display:inline-block;*/
}

.selectOptionContainer{
	display:inline-block;
}

.buttonBorder{
	border:1px solid #2c3e50;
}


.bookContainer{
	/*border:1px solid blue;*/
	/*margin:0 auto;*/
	padding:1%;
	text-align: center;
}

.book{
	/*border:1px solid #2c3e50;
	border-radius:5px;
	background-color:#ecf0f1;*/
	/*width: 25%;*/
	margin: 5px;
	padding: 2px;
	display: inline-block;
}

.loading{
	margin:0 auto;
	height:50px;
	width:50px;
}

.errorDesc{
	color: #2c3e50;
}

.resultContent{
	overflow-y: scroll; 
	height:400px;
}

.flow{
	overflow-y: scroll;
	height:440px;	
}

.resultContentFromLang{
	 border-right: thick double #2c3e50; 
}

.resultContentToLang{
/*
	background-color: #2c3e50;
	color: #fff;*/
}

#result{
	height:25px;
}
